<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="https://www.nuget.org/api/v2/" value="https://www.nuget.org/api/v2/" />
    <add key="Lab" value="http://amtst50app01.az.fox.afg:8080/nuget/Lab" />
    <add key="eSante Libraries" value="http://amtst50app01.az.fox.afg:8080/nuget/eSante" />
    <add key="Approved Microsoft" value="http://amtst50app01.az.fox.afg:8080/nuget/Approved%20Microsoft" />
    <add key="Approved Open Source" value="http://amtst50app01.az.fox.afg:8080/nuget/Approved%20Open%20Source" />
    <add key="Vendor" value="http://amtst50app01.az.fox.afg:8080/nuget/Vendor" />
  </packageSources>
  <disabledPackageSources />
  <packageSourceCredentials>
    <Lab>
      <add key="Username" value="stevew" />
      <add key="ClearTextPassword" value="Ramstein25530" />
    </Lab>
    <eSante_x0020_Libraries>
      <add key="Username" value="stevew" />
      <add key="ClearTextPassword" value="Ramstein25530" />
    </eSante_x0020_Libraries>
    <Approved_x0020_Microsoft>
      <add key="Username" value="stevew" />
      <add key="ClearTextPassword" value="Ramstein25530" />
    </Approved_x0020_Microsoft>
    <Approved_x0020_Open_x0020_Source>
      <add key="Username" value="stevew" />
      <add key="ClearTextPassword" value="Ramstein25530" />
    </Approved_x0020_Open_x0020_Source>
    <Vendor>
      <add key="Username" value="stevew" />
      <add key="ClearTextPassword" value="Ramstein25530" />
    </Vendor>
  </packageSourceCredentials>
</configuration>